/* GENERAL RULES */
img{
    width: 100%;
}

.text_lightgrey{
    color: rgb(119, 123, 126);
}

.text_lightblue{
    color: rgb(29, 150, 231);
}


/* HEADER RULES */
nav{
    height: 60px;
}

nav .nav-item .nav-link.dropdown-toggle{
    color: black;
    font-weight: 600;
}

.logo-upper-nav{
    width: 80px;
}

.logo-nav-lens{
    width: 25px;
}

.logo-returnal{
    width: 200px;
}



/* MAIN RULES */

/* EVIDENCE SECTION */
.evidence-head{
    height: 640px;
    background-image: url(img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
}

.complete-title{
    bottom: 60px;
    left: 50px;
    color: white;
}

.evidence-window img{
    border-radius: 20px;
}

.evidence-window.active{
    border: 3px solid rgb(29, 150, 231);
    border-radius: 27px;
}


/* PLAYSTATION5 SECTION */
