/* GENERAL RULES */
img{
    width: 100%;
}

.text_lightgrey{
    color: rgb(119, 123, 126);
}

.text_lightblue{
    color: rgb(29, 150, 231);
}

ul, ol{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: unset;
}


/* HEADER RULES */
nav .nav-item .nav-link.dropdown-toggle{
    color: black;
    font-weight: 600;
}

.logo-upper-nav{
    width: 80px;
} 

.logo-nav-lens{
    width: 25px;
}

.dropdown-toggle::after{
    border: unset;
    content: "\2304";
    font-weight: bold;
}



/* MAIN RULES */

/* EVIDENCE SECTION */
.logo-game{
    width: 215px;
    margin-bottom: 25px;
}

.banner-game-head{
    height: 590px;
    background-image: url(img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
}

.complete-banner-game{
    color: white;
    padding-left: 60px;
    padding-bottom: 50px;
}

.evidence-window{
    transition: 0.3s;
}

.evidence-window img{
    border-radius: 20px;
}

.evidence-window.active, .evidence-window:hover{
    border: 3px solid rgb(29, 150, 231);
    border-radius: 27px;
}

.evidence-window:hover{
    transform: translatey(-15px);
    box-shadow: 0px 7px 15px 5px rgb(151, 145, 145);
}


/* PLAYSTATION 5 SECTION */
.playstation5-product{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    transition: opacity 0.5s ease-in-out;
}

.playstation5-product:hover, .active{
    opacity: 1;
    border-bottom: 2px solid rgb(29, 150, 231);
}



@media screen and ( max-width:767px ){
    #playstation5 ul{
        justify-content: left!important;
    }
    #playstation5 ul li h6{
        display: none;
    }
    #playstation5 ul .mx-2{
        margin: 0px 0px!important;
    }
    #playstation5 ul li .px-4{
        padding: 0 5px;
    }
}


/* NEW ENTRY SECTION */
#new-entry .banner-game-head{
    min-height: 620px;
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
}

.new-entry-game img{
    border-radius: 25px;
}

.new-entry-game{
    margin-bottom: 50px;
}


/* PLAYSTATION 4 SECTION */
.fa-registered{
    font-size: 17px;
    vertical-align: 50%;
}


/* PLAYSTATION PLUS SECTION */
#playstation-plus .logo-game{
    width: 330px;
}

#playstation-plus .banner-game-head{
    height: 400px;
    background-color: rgb(202, 199, 199);
    background-image: url(img/ps-plus-april-monthly-games-featured-image-block.png);
    background-size: contain;
    background-position-x: 90%;
}

#playstation-plus .complete-banner-game{
    color: initial;
    font-weight: 500;
    padding: 10px 60px;
}

#playstation-plus button{
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
}


@media screen and ( max-width:767px ){
    #playstation-plus .banner-game-head{
        background-image: none;
    }
    #playstation-plus .complete-banner-game{
        padding: 10px 10px;
    }
}

@media screen and ( max-width:991px ){
    #playstation-plus .banner-game-head{
        height: 305px;
    }
    #playstation-plus .logo-game{
        width: 220px;
    }
}


/* SALE-GAMES SECTION */
@media screen and ( max-width:767px ){
    #sale-games .mx-4{
        margin: 0 0px!important;
    }
}


/* PLAYSTATION NOW SECTION */
#playstation-now .logo-game{
    width: 330px;
}

#playstation-now .banner-game-head{
    height: 400px;
    background-color: rgb(1, 1, 65);
    background-image: url(img/ps-now-april-featured-image-block.png);
    background-size: contain;
    background-position-x: 95%;
}

#playstation-now .complete-banner-game{
    font-weight: 500;
    padding: 10px 60px;
}

#playstation-now button{
    font-weight: 500;
    border: none;
}


@media screen and ( max-width:767px ){
    #playstation-now .banner-game-head{
        background-image: none;
    }
    #playstation-now .complete-banner-game{
        padding: 10px 10px;
    }
}

@media screen and ( max-width:991px ){
    #playstation-now .banner-game-head{
        height: 305px;
    }
    #playstation-now .logo-game{
        width: 220px;
    }
}


/* FOLLOW US SECTION */
.ms_width-150{
    width: 150px;
}


@media screen and ( max-width:767px ){
    #follow-us .ms_width-150{
        width: 130px;
    }
}

@media screen and ( max-width:576px ){
    #follow-us .ms_width-150{
        width: 49%;
        margin-bottom: 50px;
    }
}


/* FOOTER SECTION */
footer, .form-select{
    background-color: #00439C;
    color: white;
    font-weight: 500;
}

.logo-footer-ps{
    width: 90px;
}

.logo-footer-globe{
    width: 20px;
}

.form-select{
    border-color: #00439C;
    width: auto;
}

footer ul li{
    margin-bottom: 8px;
}

.logo-footer-sie{
    width: 130px;
}

footer p{
    font-size: 14px;
}


@media screen and ( max-width:991px ){
    footer .country{
        margin-bottom: 50px;
    }
    footer .sie{
        margin-top: 50px;
    }
}